.mock-chart {
    height: 140px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.chart-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.chart-label {
    font-size: .8rem;
    margin-top: 4px;
    color: #adb5bd;
}

.chart-bar {
    width: 100%;
    max-width: 40px;
    background-color: var(--chart-bar);
    opacity: .75;
    transition:
        background-color .3s,
        opacity .3s;
}

.chart-bar:hover {
    opacity: 1;
}

.chart-bar-active {
    background-color: var(--chart-bar-active) !important;
    opacity: 1;
}

.chart-group {
    display: flex;
    align-items: flex-end;
    gap: 3px;
    height: 100%;
    width: 100%;
    max-width: 65px;
    justify-content: center;
}

.chart-bar-sm {
    flex: 1;
    min-width: 8px;
    opacity: .75;
    transition: opacity .3s;
}

.chart-bar-sm:hover {
    opacity: 1;
}

.chart-dot-legend {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.dep-22 {background-color: var(--dep-22);}
.dep-29 {background-color: var(--dep-29);}
.dep-35 {background-color: var(--dep-35);}
.dep-56 {background-color: var(--dep-56);}
