:root {
    --app-bg: #0b0f19;
    --header-bg: #155e9b;
    --card-bg: #1e2532;
    --footer-bg: #111827;

    --chart-bar: #a5b4fc;
    --chart-bar-active: #375bb5;

    --dep-22: #ff6384;
    --dep-29: #36a2eb;
    --dep-35: #ffce56;
    --dep-56: #4bc0c0;
}

body.admin-mode {
    --app-bg: #121212;
    --header-bg: #252525;
    --card-bg: #303030;
    --footer-bg: #303030;

    --chart-bar: #c4b5fd;
    --chart-bar-active: #7c3aed;

    --dep-22: #f472b6; 
    --dep-29: #60a5fa;
    --dep-35: #fbbf24;
    --dep-56: #2dd4bf;
}